html,body,iframe,#browser {
        height: 100%;
        width: 100%;
}

.ui-li.ui-first-child {
	border-top-right-radius: 0 !important;
	border-top-left-radius: 0 !important;
}

.highlighted {
	background: #ff0;
}

.normal { 
	background: #fff;
}

.normal-venue {
	color: #000;
	font-weight: normal;
	
}
.normal-venue p {
	font-size: 115%;
	margin: 0;
}

.highlighted-venue {
	color: #000;
	font-weight: bold;
}

#foursquare-logo-wrapper {
	text-align: center;
}

#foursquare-logo {
	width: 70%;
}

#status {
	text-align: center;
	padding: 8px;
	background: #666;
	color: #fff;
	margin: 0;
}

.venue_address {
	font-size: 90%;
}
